<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingmelive.lib" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true">

        <service android:name=".sendLogToServer" android:enabled="true"/>

    </application>

</manifest>
