<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quarter.pingmelive" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

        <activity
            android:name=".DefaultErrorActivity"
            android:process=":error_activity" />

    </application>

</manifest>
